{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-4 page-content">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    {% if bag_items %}
        {% for item in bag_items %}
        <div class="row bag-item border-bottom py-3 align-items-center text-center">
            <div class="col-md-1 col-12">
                {% if item.product.thumbnail_image %}
                <img class="img-fluid rounded" src="{{ item.product.thumbnail_image.url }}" alt="{{ item.product.name }}">
                {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
            </div>
            <div class="col-md-3 col-12">
                <a href="{% url 'product_detail' item.product.id %}" class="text-dark text-decoration-none"><strong>{{ item.product.name }}</strong></a>
                <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
            </div>
            <div class="col-md-2 col-12">
                <p>Standard Price: ${{ item.base_price }}</p>
            </div>
            <div class="col-md-2 col-12">
                <p>Discount Price: ${{ item.adjusted_price }}</p>
            </div>
            <div class="col-md-2 col-12 text-center">
                <form id="form-{{ item.item_id }}" class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-sm btn-secondary rounded-0"
                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-minus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control form-control-sm qty_input" type="number"
                                name="quantity" value="{{ item.quantity }}" min="1" max="1000"
                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-sm btn-secondary rounded-0"
                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-plus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="update-btn btn-sm" type="button" onclick="document.getElementById('form-{{ item.item_id }}').submit();">Update</button>
            </div>
            <div class="col-md-1 col-12 text-right">
                <button class="btn btn-sm btn-danger remove-item" type="button" id="remove_{{ item.item_id }}">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        {% endfor %}
        <div class="row mt-4">
            <!-- Total and Checkout in the same column for md and larger screens -->
            <div class="col-md-6 col-12 order-1 order-md-2 text-md-right text-center">
                <!-- Total -->
                <div class="mb-3 mb-md-0"> <!-- Added margin bottom for mobile view -->
                    <h4><strong>Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                </div>
                
                <!-- Checkout -->
                <div>
                    <a href="{% url 'checkout' %}" class="btn rounded-2 btn-lg mb-2" id="custom-btn">
                        Secure Checkout <i class="fas fa-lock"></i>
                    </a>
                </div>
            </div>
            
            <!-- Continue Shopping -->
            <div class="col-md-6 col-12 order-3 order-md-1 text-center">
                <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-2 btn-lg">
                    <i class="fas fa-chevron-left"></i> Continue Shopping
                </a>
            </div>
        </div>
        
              
    {% else %}
    <div class="row">
        <div class="col text-center">
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0 btn-lg">
                <i class="fas fa-chevron-left"></i> Continue Shopping
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    $(document).ready(function () {
        // Update quantity on click
        $('.update-link').click(function (event) {
            const target = $(event.target);
            const selector = '#' + target.data('form-id');
            const form = $(selector)[0];
            if (! form.checkValidity()) {
                  form.reportValidity()
            }
            else
            {
                form.submit();
            }
        })

        // Remove item and reload on click
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/bag/remove/${itemId}/`;
            var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        }
        )
    }
    );

</script>
{% endblock %}