{% extends "base.html" %}
{% load static %}
 
<!-- Meta tegs for contact page -->
{% block meta_description %}Get in touch with Garvin Cards for inquiries, customer service, and feedback. Contact us via phone, email, or visit our retail stores.{% endblock %}
{% block extra_title %}Contacts - Phone, Email, and Store Locations{% endblock %}

{% block extra_js %}
         <!-- EmailJS -->
         <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
         <script type="text/javascript">
             (function () {
                 emailjs.init("exjdZuGsxjKF8to5Y");
             })();    
         </script>
         <script src="{% static 'js/sendEmail.js' %}"></script>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- Contact Information -->
<section class="contact-info-section mt-5">
    <div class="container">
        <h1>Contact Information for Garvin card's shop customers</h1>
        <p>Phone: (093)8520908</p>
        <p>Email: garvin.pp.ua@gmail.com</p>
    </div>
</section>

<!-- Retail Stores Information -->
<section class="retail-stores-section">
    <div class="container">
        <h2>Our Retail Stores</h2>
        <p>In this section, you can find a list of retail stores where you can directly purchase our postcards individually.</p>
        <p><strong>Boryspil</strong><br>
        Kyivs'kyi Shliakh Street, 2/6, Aeromall, Fuji Photolab<br>
        <a href="#">Go there</a></p>
        <p>Here you can order and buy cool author's postcards that you will gift to your loved one, friend, godmother, sister, brother, boyfriend, godchild, son, daughter, father, grandfather, grandmother, boss, nephew, niece, neighbor, lady next door, birthday person, for men, for women, for mom, for your best friend, for a colleague, for grandchildren, for a holiday, with a reason or without, wholesale or retail.</p>
        <p>Funny and stylish Ukrainian-language postcards for New Year, birthdays, Valentine's Day, March 8th, Defender of the Fatherland Day, anniversaries, Easter, Mother's Day, name days, anniversaries. We guarantee fun, brightness, and a good mood!</p>
    </div>
</section>

<!-- Contact Form -->
<section class="contact-form-section">
    <div class="container">
        <h2>Get in Touch</h2>
        <div class="center-form">
            <form onsubmit="return sendMail(this);">
                <input type="text" name="name" class="form-control" id="fullname" placeholder="Your name" required/>
                <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Your email" required/>
                <textarea rows="5" name="message" class="form-control" id="message" placeholder="Your message" required></textarea>
                <button type="submit" class="btn btn-secondary center-block">Send message</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}






