{% extends "base.html" %}

{% block meta_description %}Explore exclusive special offers on Garvin Cards. Limited-time deals on our unique postcard collections for first-time and returning customers.{% endblock %}
{% block extra_title %} Exclusive Special Offers on Postcards {% endblock %}

{% block page_header %}
<div class="container offers">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">"Garvin's cards" Special Offers</h1>
            <p class="text-center">Check out our latest special offers!</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <!-- Special Offer Details -->
        <div class="col-12 mb-3">
            <h2>Special Conditions for First Order</h2>
            <p>Dear customers, we offer special conditions for your first order under the contract: Buy 10 postcards of each type. Pay half the cost in advance. The rest of the amount can be paid within 5 months or with the next order. If you have unsold postcards, return them to us, and we will refund the money for them.
            </p>Thank you for your interest! We look forward to your order!</p>
            <p><strong>TIP!</strong> Each client is unique and has their own needs. Someone is looking for an economical option, others want special gifts, and some prefer classic postcards. Our postcards are designed for youth and creative people. If you want to satisfy all your clients, we recommend expanding the range and adding cheaper classic postcards from other manufacturers.</p>
            <p>Here you can order and buy cool author's postcards that you will give to a loved one, friend, godmother, sister, brother, boyfriend, godson, son, daughter, father, grandfather, grandmother, boss, nephew, niece, neighbor, birthday person, for men, for women, for mom, for best friend, for colleague, for grandchildren, for holidays, with or without occasion, wholesale or retail.</p>
            <p>Funny and stylish Ukrainian-language postcards for New Year, Birthday, Valentine's Day, March 8, Defender of the Fatherland Day, anniversary, Easter, Mother's Day, name day, anniversary. We guarantee fun, brightness, and good mood!</p>
        </div>
    </div>
</div>

{% endblock %}



