core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
*.sqlite3
venv/
env/
.env
*.pyc
.vscode/
*.log
*.db
.vscode/
.idea/
Pipfile.lock
poetry.lock
temp/
.cache/
*~
*.bak
.docker/
