{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="wishlist-page">
    <h1>My Wishlist</h1>
    {% if wishlist_items %}
        <table class="wishlist-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th>Rating</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in wishlist_items %}
                <tr>
                    <td>
                        <img src="{{ item.product.thumbnail_image.url }}" alt="{{ item.product.name }}" class="wishlist-image">
                        <div class="item-details">
                            <h2>{{ item.product.name }}</h2>
                            <p>{{ item.product.description }}</p>
                        </div>
                    </td>
                    <td class="price">€{{ item.product.price }}</td>
                    <td class="rating">{{ item.product.rating }}</td>
                    <td class="date-added">{{ item.created_at|date:"Y-m-d" }}</td>
                    <td>
                        <a href="{% url 'remove_from_wishlist' item.product.id %}" class="remove-button">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items in your wishlist.</p>
    {% endif %}
</div>
{% endblock %}
